h1 {
    text-align: center;
}

.container {
	display: flex;
	justify-content: center;
	padding: 0 1em 1em 1em;
}

#game input {
	margin: -1px;
}

input[type=range][orient=vertical]
{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    padding: 0 40px;
}